.teamItem {
    min-height: 150px;
}

.teamTitle {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.teamItemNavlink {
    text-decoration: none;
    color: #ffffff;
    margin-left: auto;
}
