.navlink {
    text-decoration: none;
    color: #000000;
}

.projectEmoji {
    font-size: 24px;
    color: #000000 !important;
}

.projectEmojiBg {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
